# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# Data / artifacts
# =========================
/data/

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
all_data.txt
pipeline/parsed
pipeline/test_normalization.py
pipeline/output
pipeline/test_ingest.py